<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'form_app6:register' %}"><button>Dodaj zadanie</button></a>
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'form_app6:update' task.id %}">{{ task.text }}</a>
                <form action="{% url 'form_app6:delete' task.id %}" method="post" style="display: inline;">{% csrf_token %}<input type="submit" value="Usuń"></form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>