<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona pierwsza</title>
</head>
<body>
    <h2>To jest pierwsza strona</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at dicta dignissimos ducimus ea exercitationem fugiat ipsum iure necessitatibus nesciunt nobis optio qui quidem, ratione recusandae saepe similique tempore vel.

    <!-- statyczne linkowanie = zahardcodowanym urlem -->
    <!--<p>Przejdź do strony <a href="/links/second/">drugiej</a>.</p>-->

    <!-- dynamiczne linkowanie -->
    <p>Przejdź do strony <a href="{% url 'links:second' %}">drugiej</a>.</p>
</body>
</html>