<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trzeci</title>
</head>
<body>
    <h2>To jest widok trzeci z parametrem {{ value }}</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, inventore, modi. A architecto blanditiis dignissimos distinctio doloribus est excepturi hic mollitia quos totam? Aliquid aut dolore ipsa modi provident, voluptatibus?

    <p>Przejdź do strony <a href="{% url 'links:first' %}">pierwszy</a></p>
</body>
</html>